# Data cleaning

## Setup

In [1]:
import pandas as pd

In [2]:
file_path_1 = "/home/jupyter/CPSC 368/DB-Research-Project/data/raw/data-table.csv"
states = pd.read_csv(file_path_1)
states.head()

   YEAR STATE  RATE  DEATHS                                       URL
0  2022    AL  25.4   1,645     /nchs/pressroom/states/alabama/al.htm
1  2022    AK  25.6     184      /nchs/pressroom/states/alaska/ak.htm
2  2022    AZ  25.1   2,423     /nchs/pressroom/states/arizona/az.htm
3  2022    AR  36.0   1,397    /nchs/pressroom/states/arkansas/ar.htm
4  2022    CA  25.0  11,618  /nchs/pressroom/states/california/ca.htm

In [3]:
file_path_2 = "/home/jupyter/CPSC 368/DB-Research-Project/data/raw/rates-of-preventable-hospitalizations-for-selected-medical-conditions-by-county-.csv"
cali_county = pd.read_csv(file_path_2)
cali_county.head()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,Alameda,1,Diabetes Short-term Complications,538.0,1102068.0,48.8,47.3,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,Alameda,1,Diabetes Short-term Complications,479.0,1106823.0,43.3,42.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,Alameda,1,Diabetes Short-term Complications,475.0,1117973.0,42.5,41.3,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,Alameda,1,Diabetes Short-term Complications,531.0,1136417.0,46.7,45.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,Alameda,1,Diabetes Short-term Complications,586.0,1155287.0,50.7,49.4,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    501 non-null    int64
 1   STATE   501 non-null    object
 2   RATE    501 non-null    float64
 3   DEATHS  501 non-null    object
 4   URL     501 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 19.7+ KB

In [5]:
cali_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16166 entries, 0 to 16165
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               16166 non-null  int64
 1   County             16166 non-null  object
 2   PQI                16166 non-null  int64
 3   PQIDescription     16166 non-null  object
 4   Count_ICD9         10123 non-null  float64
 5   Population_ICD9    10123 non-null  float64
 6   ObsRate_ICD9       10375 non-null  float64
 7   RiskAdjRate_ICD9   10358 non-null  float64
 8   Count_ICD10        5581 non-null   object
 9   Population_ICD10   5782 non-null   object
 10  ObsRate_ICD10      5782 non-null   float64
 11  RiskAdjRate_ICD10  5782 non-null   float64
 12  AnnotationCode     201 non-null    float64
 13  AnnotationDesc     202 non-null    object
dtypes: float64(7), int64(2), object(5)
memory usage: 1.7+ MB

## Cleaning for the first dataset

In [6]:
states_tidy = states.drop(columns = 'URL').query("STATE == 'CA' and 2016 <= YEAR <= 2022")
states_tidy.head()

     YEAR STATE  RATE  DEATHS
4    2022    CA  25.0  11,618
55   2021    CA  25.5  11,440
105  2020    CA  25.4  11,642
155  2019    CA  21.8   9,854
205  2018    CA  21.4   9,506

In [7]:
states_tidy.shape

(7, 4)

In [8]:
states_tidy.describe()

              YEAR       RATE
count     7.000000   7.000000
mean   2019.000000  23.228571
std       2.160247   1.958498
min    2016.000000  21.400000
25%    2017.500000  21.600000
50%    2019.000000  22.100000
75%    2020.500000  25.200000
max    2022.000000  25.500000

In [9]:
# export the data

## Cleaning for the second dataset

In [10]:
cali_county.head()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,Alameda,1,Diabetes Short-term Complications,538.0,1102068.0,48.8,47.3,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,Alameda,1,Diabetes Short-term Complications,479.0,1106823.0,43.3,42.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,Alameda,1,Diabetes Short-term Complications,475.0,1117973.0,42.5,41.3,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,Alameda,1,Diabetes Short-term Complications,531.0,1136417.0,46.7,45.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,Alameda,1,Diabetes Short-term Complications,586.0,1155287.0,50.7,49.4,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# some initial steps
cali_county_tidy = cali_county[(cali_county['Year'] >= 2016) & (cali_county['Year'] >= 2022)]
cali_county_tidy = cali_county_tidy.drop(columns = ["Count_ICD9", "Population_ICD9", "ObsRate_ICD9", "RiskAdjRate_ICD9"])
cali_county_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 826 entries, 17 to 16165
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               826 non-null    int64
 1   County             826 non-null    object
 2   PQI                826 non-null    int64
 3   PQIDescription     826 non-null    object
 4   Count_ICD10        798 non-null    object
 5   Population_ICD10   826 non-null    object
 6   ObsRate_ICD10      826 non-null    float64
 7   RiskAdjRate_ICD10  826 non-null    float64
 8   AnnotationCode     28 non-null     float64
 9   AnnotationDesc     29 non-null     object
dtypes: float64(3), int64(2), object(5)
memory usage: 71.0+ KB

In [12]:
# check for rows that have a null value in Count_ICD10
null_rows = cali_county_tidy[cali_county_tidy['Count_ICD10'].isna()]
null_rows

# we don't actually need to care them because these rows are all concerned about asthma, which is not the focus of our study

,Year,County,PQI,PQIDescription,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
1016,2022,Butte,15,Asthma in Younger Adults (Age 18-39),NaN,***,14.1,17.5,1.0,Cell suppressed for small numbers
2112,2022,Del Norte,15,Asthma in Younger Adults (Age 18-39),NaN,***,13.5,11.3,1.0,Cell suppressed for small numbers
2386,2022,El Dorado,15,Asthma in Younger Adults (Age 18-39),NaN,***,22.7,33.5,1.0,Cell suppressed for small numbers
2934,2022,Glenn,15,Asthma in Younger Adults (Age 18-39),NaN,***,25.4,28.0,1.0,Cell suppressed for small numbers
3208,2022,Humboldt,15,Asthma in Younger Adults (Age 18-39),NaN,***,2.3,2.8,1.0,Cell suppressed for small numbers
3482,2022,Imperial,15,Asthma in Younger Adults (Age 18-39),NaN,***,10.7,8.9,1.0,Cell suppressed for small numbers
3626,2022,Inyo,5,COPD or Asthma in Older Adults (Age 40+),NaN,***,66.9,79.6,1.0,Cell suppressed for small numbers
4304,2022,Kings,15,Asthma in Younger Adults (Age 18-39),NaN,***,18.7,22.5,1.0,Cell suppressed for small numbers
4578,2022,Lake,15,Asthma in Younger Adults (Age 18-39),NaN,***,12.4,14.4,1.0,Cell suppressed for small numbers
4852,2022,Lassen,15,Asthma in Younger Adults (Age 18-39),NaN,***,58.6,78.2,1.0,Cell suppressed for small numbers
5400,2022,Madera,15,Asthma in Younger Adults (Age 18-39),NaN,***,8.3,9.3,1.0,Cell suppressed for small numbers
5674,2022,Marin,15,Asthma in Younger Adults (Age 18-39),NaN,***,5.6,11.3,1.0,Cell suppressed for small numbers
6222,2022,Mendocino,15,Asthma in Younger Adults (Age 18-39),NaN,***,4.7,5.3,1.0,Cell suppressed for small numbers
6770,2022,Modoc,15,Asthma in Younger Adults (Age 18-39),NaN,***,55.4,43.4,1.0,Cell suppressed for small numbers
6914,2022,Mono,5,COPD or Asthma in Older Adults (Age 40+),NaN,***,58.4,93.6,1.0,Cell suppressed for small numbers
7592,2022,Napa,15,Asthma in Younger Adults (Age 18-39),NaN,***,2.8,4.3,1.0,Cell suppressed for small numbers
7866,2022,Nevada,15,Asthma in Younger Adults (Age 18-39),NaN,***,4.6,6.7,1.0,Cell suppressed for small numbers
8414,2022,Placer,15,Asthma in Younger Adults (Age 18-39),NaN,***,5.8,11.4,1.0,Cell suppressed for small numbers
9510,2022,San Benito,15,Asthma in Younger Adults (Age 18-39),NaN,***,9.8,15.3,1.0,Cell suppressed for small numbers
10880,2022,San Luis Obispo,15,Asthma in Younger Adults (Age 18-39),NaN,***,9.9,12.8,1.0,Cell suppressed for small numbers
11976,2022,Santa Cruz,15,Asthma in Younger Adults (Age 18-39),NaN,***,7.0,8.9,1.0,Cell suppressed for small numbers
12250,2022,Shasta,15,Asthma in Younger Adults (Age 18-39),NaN,***,14.5,16.3,1.0,Cell suppressed for small numbers
12394,2022,Sierra,5,COPD or Asthma in Older Adults (Age 40+),NaN,***,188.2,213.2,1.0,Cell suppressed for small numbers
13346,2022,Sonoma,15,Asthma in Younger Adults (Age 18-39),NaN,***,5.4,8.4,1.0,Cell suppressed for small numbers
14168,2022,Sutter,15,Asthma in Younger Adults (Age 18-39),NaN,***,10.4,12.5,1.0,Cell suppressed for small numbers
15264,2022,Tuolumne,15,Asthma in Younger Adults (Age 18-39),NaN,***,7.6,8.5,1.0,Cell suppressed for small numbers
15812,2022,Yolo,15,Asthma in Younger Adults (Age 18-39),NaN,***,6.6,8.1,1.0,Cell suppressed for small numbers
16086,2022,Yuba,15,Asthma in Younger Adults (Age 18-39),NaN,***,7.3,8.7,1.0,Cell suppressed for small numbers

In [13]:
cali_county_tidy['PQIDescription'].unique()

array(['Diabetes Short-term Complications',
       'Diabetes Long-term Complications',
       'COPD or Asthma in Older Adults (Age 40+)', 'Hypertension',
       'Heart Failure', 'Community-Acquired Pneumonia',
       'Urinary Tract Infection', 'Uncontrolled Diabetes',
       'Asthma in Younger Adults (Age 18-39)',
       'Lower-Extremity Amputation (Diabetes)', 'Overall Composite',
       'Acute Composite', 'Chronic Composite', 'Diabetes Composite'],
      dtype=object)

In [14]:
cali_county_tidy = cali_county_tidy[cali_county_tidy['PQIDescription'].isin(['Diabetes Short-term Complications', 
                                                                             'Diabetes Long-term Complications', 
                                                                             'Uncontrolled Diabetes', 
                                                                             'Diabetes Composite'])]
cali_county_tidy.head()

,Year,County,PQI,PQIDescription,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
17,2022,Alameda,1,Diabetes Short-term Complications,654,"1,311,253",49.9,59.3,NaN,NaN
46,2022,Alameda,3,Diabetes Long-term Complications,821,"1,311,253",62.6,82.9,NaN,NaN
176,2022,Alameda,14,Uncontrolled Diabetes,297,"1,311,253",22.7,31.8,NaN,NaN
273,2022,Alameda,93,Diabetes Composite,"1,945","1,311,253",148.3,190.3,NaN,NaN
291,2022,Alpine,1,Diabetes Short-term Complications,0,998,0.0,0.0,NaN,NaN

In [15]:
cali_county_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 17 to 16165
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               236 non-null    int64
 1   County             236 non-null    object
 2   PQI                236 non-null    int64
 3   PQIDescription     236 non-null    object
 4   Count_ICD10        236 non-null    object
 5   Population_ICD10   236 non-null    object
 6   ObsRate_ICD10      236 non-null    float64
 7   RiskAdjRate_ICD10  236 non-null    float64
 8   AnnotationCode     0 non-null      float64
 9   AnnotationDesc     1 non-null      object
dtypes: float64(3), int64(2), object(5)
memory usage: 20.3+ KB

In [16]:
# check the row with an non-null value in AnnotationDesc
cali_county_tidy[cali_county_tidy['AnnotationDesc'].notna()]

# we can ignore such anomaly since it just has a . in annotation description

,Year,County,PQI,PQIDescription,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
16165,2022,Yuba,93,Diabetes Composite,210,"61,597",340.9,299.6,NaN,.

In [17]:
cali_county_tidy = cali_county_tidy.drop(columns = ["AnnotationCode", "AnnotationDesc", "RiskAdjRate_ICD10"])

In [18]:
cali_county_tidy.head()

,Year,County,PQI,PQIDescription,Count_ICD10,Population_ICD10,ObsRate_ICD10
17,2022,Alameda,1,Diabetes Short-term Complications,654,"1,311,253",49.9
46,2022,Alameda,3,Diabetes Long-term Complications,821,"1,311,253",62.6
176,2022,Alameda,14,Uncontrolled Diabetes,297,"1,311,253",22.7
273,2022,Alameda,93,Diabetes Composite,"1,945","1,311,253",148.3
291,2022,Alpine,1,Diabetes Short-term Complications,0,998,0.0

In [ ]:
# export the data